<aside class="well">
  <header>
      <legend><h4>Projects</h4></legend>
  </header>
  <div class="aside-content">
      <ul>
          <li><a href="http://github.com/kwbock/clipster">Clipster</a></li>
          <li><a href="http://github.com/kwbock/KBButton">KBButton</a></li>
          <li><a href="http://github.com/kwbock/KBTextField">KBTextField</a></li>
          <li><a href="http://github.com/kwbock/django_admin_bootstrapped">django_admin_bootstrapped</a>
          <li><a href="http://github.com/emory-libraries-disc/namedropper-oxygen">namedropper-oxygen</a></li>
          <li><a href="http://github.com/emory-libraries-disc/namedropper-py">namedropper-py</a></li>
      </ul>
  </div>
</aside>
{% comment %}
<aside class="well">
    <header>
        <legend><h4>Categories</h4></legend>
    </header>
    <div class="aside-content">

    </div>
</aside>
{% endcomment %}