body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.well {
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

article.post header,
article.post .post-content,
article.post .footer {
    margin: 5px;
}