<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8 />
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-dark.css">
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <script type="text/javascript" src="/assets/js/jquery-1.8.3.min.js"></script>
</head>
<body class="grayout">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Kyle Bock</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about-me.html">About Me</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">

      {% if page.show_about %}
      <div class="row-fluid">
        <div class="span12 well">
            This is the future home of my blog. I'm hoping to use this place to write about interesting projects I'm working on or as a place to write about intersting tools or tips found while working on my projects. More to come soon.
        </div>
      </div>
      {% endif %}

      <div class="row-fluid">
        <div class="span8">
          {{ content }}
        </div>
        <div class="span4">
          <aside class="well">
            <header>
                <legend><h4>Projects</h4></legend>
            </header>
            <div class="aside-content">
                <ul>
                    <li><a href="http://github.com/kwbock/clipster">Clipster</a></li>
                    <li><a href="http://github.com/kwbock/KBButton">KBButton</a></li>
                    <li><a href="http://github.com/kwbock/KBTextField">KBTextField</a></li>
                </ul>
            </div>
          </aside>
          {% comment %}
          <aside class="well">
              <header>
                  <legend><h4>Categories</h4></legend>
              </header>
              <div class="aside-content">

              </div>
          </aside>
          {% endcomment %}
        </div>
      </div>
    </div>
</body>
</html>
